:root {
    --color-bg: #11111b;
    --color-bg-secundary: #181825;
    --color-bg-surface: #1e1e2e;
    --color-bg-surface-transparent: #1e1e2ec8;

    --color-text: #cba6f7;
    --color-text-dark: #11111b;
    --color-subtext: #a6adc8;

    --color-primary: #f5c2e7;
    --color-secundary: #89b4fa;
    --color-primary-transparent: #f5c2e727;
    --color-secundary-transparent: #89b4fa23;
    --color-accent: #b4befe;
    --color-highlight: #f5c2e7;

    --radio: 30px;
    --sombra: 0 2px 5px rgba(0, 0, 0, 0.916);
    --sombra-neumorphism: 5px 5px 10px #0a0a10, -5px -5px 10px #181826;
    --sombra-neumorphism-inset: inset 5px 5px 10px #0a0a10, inset -5px -5px 10px #181826;

    --radial-gradient: radial-gradient(
        circle at 0% 0%,
        var(--color-primary-transparent),
        transparent 50%
    ), radial-gradient(
        circle at 100% 100%,
        var(--color-secundary-transparent),
        transparent 50%
    );

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
    color: var(--color-text);
}

body {
    font-family: "Space Grotesk";
    color: var(--color-text);
}

a {
    text-decoration: none;
}

p, label {
    line-height: 1.5;
    font-size: 18px;
    color: var(--color-subtext);
    text-shadow: var(--sombra-neumorphism);
}

input, textarea {
    font-size: 16px;
    text-shadow: var(--sombra-neumorphism);
    color: var(--color-subtext);
    border: none;
    outline: none;
}

h2 {
    font-size: 40px;
    color: var(--color-text);
    text-shadow: var(--sombra-neumorphism);
}

h3 {
    text-shadow: var(--sombra-neumorphism);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

.seccion-principal {
    padding: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 100px;
    background-color: var(--color-bg-surface-transparent);
    box-shadow: var(--sombra-neumorphism);
    backdrop-filter: blur(5px);
}

header a {
    color: var(--color-text);
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text);
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: var(--sombra-neumorphism-inset);
    border-radius: var(--radio);
}

header nav a:hover {
    color: var(--color-text-dark);
    background: linear-gradient(to right, var(--color-primary), var(--color-secundary));
    border-radius: var(--radio);
    box-shadow: var(--sombra-neumorphism);
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(var(--color-bg-surface), var(--color-bg-secundary), var(--color-bg));
    gap: 50px;
    text-align: center;
    padding-bottom: 20px;
}

#inicio h1{
    font-size: 100px;
    text-shadow: var(--sombra-neumorphism);
}

#inicio p {
    font-size: 30px;
    width: 1000px;
}

#inicio a {
    padding: 30px 80px;
    font-size: 18px;
    color: var(--color-text-dark);
    text-decoration: none;
    background: var(--color-accent);
    border-radius: var(--radio);
    box-shadow: var(--sombra-neumorphism);
    margin: 40px 0px;
}

#inicio a:hover {
    background: linear-gradient(to right, var(--color-primary), var(--color-secundary));
    color: var(--color-bg);
    animation: pulseAnimation 0.5s ease;
}

@keyframes pulseAnimation {
    50% {
        transform: scale(1.15);
    }
}

#sobre-mi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: var(--color-bg-secundary);
}

.foto-perfil {
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: var(--sombra-neumorphism-inset);
    background: var(--radial-gradient);
}

.sobre-mi-contenedor {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    border-radius: var(--radio);
    color: var(--color-subtext);
    box-shadow: var(--sombra-neumorphism);
    background: var(--radial-gradient);
}

.parrafos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: var(--radio);
    color: var(--color-subtext);
    box-shadow: var(--sombra-neumorphism-inset);
    background: var(--color-bg);
}

#habilidades {
    display: flex;
    justify-content: center;
    gap: 50px;
    background: radial-gradient(var(--color-bg-surface), var(--color-bg-secundary), var(--color-bg));
}

.habilidades-grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 30px;    
    padding: 40px;
    box-shadow: var(--sombra-neumorphism);
    border-radius: var(--radio);
    background: var(--radial-gradient);
    transition: transform 0.3s ease;
}

.habilidades-grupo:hover {
    transform: translateY(-10px);
    outline: var(--color-highlight) 2px solid;
}

.habilidades-lista {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 20px;
    padding: 20px 30px;
    background: var(--color-bg-surface);
    box-shadow: var(--sombra-neumorphism-inset);
    border-radius: var(--radio);
}

.habilidad {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.habilidad-cabecera {
    display: flex;
    justify-content: space-between;
    color: var(--color-subtext);
}

.barra {
    width: 100%;
    height: 15px;
    background-color: var(--color-bg);
    border-radius: var(--radio);
    box-shadow: var(--sombra-neumorphism-inset);
}

.barra-valor {
    background: linear-gradient(to right, var(--color-primary), var(--color-secundary));
    width: 0px;
    height: 15px;
    border-radius: var(--radio);
    transition: width 1s ease;
    box-shadow: var(--sombra-neumorphism);
}

.habilidades-visible .barra-valor {
    width: var(--nivel);
}

#proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--color-bg-secundary);
}

#proyectos h2 {
    text-align: center;
}

.proyectos {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#proyectos article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 20px;
    padding: 40px;
    background: var(--radial-gradient);
    box-shadow: var(--sombra-neumorphism);
    border-radius: var(--radio);
    transition: transform 0.3s ease;
}

#proyectos article:hover {
    transform: translateY(-10px);
    outline: var(--color-highlight) 2px solid;
}

#proyectos h3 {
    text-align: center;
}

.proyecto {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 30px;
    gap: 20px;
    background: var(--color-bg);
    box-shadow: var(--sombra-neumorphism-inset);
    border-radius: var(--radio);
}

.proyecto img {
    display: block;
    width: 100%;
    height: auto;
}

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--color-bg);
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    gap: 20px;
    padding: 40px;
    box-shadow: var(--sombra-neumorphism);
    border-radius: var(--radio);
    background: var(--radial-gradient);
}

#formulario fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 20px 30px;
    border: 0px;
    border-radius: var(--radio);
    background: var(--color-bg-surface);
    box-shadow: var(--sombra-neumorphism-inset);
}

#formulario .campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#formulario input {
    background: var(--color-bg);
    padding: 20px;
    border-radius: var(--radio);
    box-shadow: var(--sombra-neumorphism-inset);
}

#formulario .campo textarea {
    background: var(--color-bg);
    padding: 20px;
    border-radius: var(--radio);
    box-shadow: var(--sombra-neumorphism-inset);
}

#formulario button {
    background: var(--color-accent);
    border-radius: var(--radio);
    width: 100%;
    max-width: 200px;
    padding: 10px;
    box-shadow: var(--sombra-neumorphism);
    border: none;
    color: var(--color-text-dark);
}

#formulario button:hover {
    background: linear-gradient(to right, var(--color-primary), var(--color-secundary));
    color: var(--color-bg);
    animation: pulseAnimation 0.5s ease;
}

@keyframes pulseAnimation {
    50% {
        transform: scale(1.15);
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--color-bg-surface);
    gap: 5px;
}


footer a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-shadow: var(--sombra-neumorphism);
}

footer p, a {
    font-size: 16px;
}

